.gmap-col {
    /*width: 710px !important;*/ 
    height: 595px !important;
    border: 1px solid black;
}

.controls {
        background-color: #fff;
        border-radius: 2px;
        border: 1px solid transparent;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
        box-sizing: border-box;
        font-family: Roboto;
        font-size: 12px;
        font-weight: 400;
        height: 27px;
        margin-left: 25px;
        margin-top: 9px;
        outline: none;
        padding: 0 11px 0 13px;
        text-overflow: ellipsis;
        width: 450px;
      }

      .controls:focus {
        border-color: #4d90fe;
      }
      
.color-red {
    color: red;
}
.color-blue {
    color: blue;
}
.color-orange {
    color: orange;
}
.color-greenyellow {
    color: greenyellow;
}
.color-yellow {
    color: yellow;
}
.color-green {
    color: #00dd00;
}
.color-white {
    color: white;
}


.bk-color-red {
    background-color: red;
}
.bk-color-blue {
    background-color: blue;
}
.bk-color-orange {
    background-color: orange;
}
.bk-color-greenyellow {
    background-color: greenyellow;
}
.bk-color-brown {
    background-color: #a5842a;
}
.bk-color-green {
    background-color: #39b200;
}
.bk-color-white {
    background-color: white;
}
.bk-color-black {
    background-color: black
}

.fs-address {
    font-size: 10px;
    font-weight: bold;
}

.fs-error {
    font-size: 14px;
    font-weight: bold;
}