.gmap-col {
    /*width: 710px !important;*/ 
    height: 595px !important;
    border: 1px solid black;
}

.controls {
        background-color: #fff;
        border-radius: 2px;
        border: 1px solid transparent;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
        box-sizing: border-box;
        font-family: Roboto;
        font-size: 12px;
        font-weight: 400;
        height: 27px;
        margin-left: 25px;
        margin-top: 9px;
        outline: none;
        padding: 0 11px 0 13px;
        text-overflow: ellipsis;
        width: 450px;
      }

      .controls:focus {
        border-color: #4d90fe;
      }
      
.color-red {
    color: red;
}
.color-blue {
    color: blue;
}
.color-orange {
    color: orange;
}
.color-greenyellow {
    color: greenyellow;
}
.color-yellow {
    color: yellow;
}
.color-green {
    color: #00dd00;
}
.color-white {
    color: white;
}


.bk-color-red {
    background-color: red;
}
.bk-color-blue {
    background-color: blue;
}
.bk-color-orange {
    background-color: orange;
}
.bk-color-greenyellow {
    background-color: greenyellow;
}
.bk-color-brown {
    background-color: #a5842a;
}
.bk-color-green {
    background-color: #39b200;
}
.bk-color-white {
    background-color: white;
}
.bk-color-black {
    background-color: black
}

.fs-address {
    font-size: 10px;
    font-weight: bold;
}

.fs-msg {
    font-size: 14px;
    font-weight: bold;
}

.color-box {
    width: 10px;
    height: 10px;
    display: inline-block;
    background-color: #ccc;
    -ms-border-radius: 6px;
    border-radius: 6px;
}

.lbl-error {
    font-family: monospace;
    font-weight: lighter;
    font-size: 9.5px;
    color: white;
    background-color: #eb3b01;
    -ms-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0 0 4px rgba(255, 0, 0, 0.65);
    -ms-box-shadow: 0 0 4px rgba(255, 0, 0, 0.65);
    box-shadow: 0 0 4px rgba(255, 0, 0, 0.65);
    padding: 2px 5px;
    /*height: 5px;*/
}

div.blocker {
    position: fixed;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
    -ms-opacity: .5;
    opacity: .5;
    background-color: #000;
    z-index: 1000;
    overflow: auto;
}

    div.blocker div {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 5em;
        height: 2em;
        margin: -1em 0 0 -2.5em;
        color: #fff;
        font-weight: bold;
    }

    div.blocker img {
        position: relative;
        top: -55px;
        left: 15%;
    }