<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IQueryFunction" />
        <binding name="BasicHttpBinding_ILicProxySvc" />
        <binding name="BasicHttpBinding_ICustomerOrder" />
        <binding name="BasicHttpBinding_ISyncFranchise" messageEncoding="Mtom" />
        <binding name="BasicHttpBinding_ISyncServerSvc" messageEncoding="Mtom" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://192.168.1.110:8732/LASA_CallCenter_Interface_Ws/QueryFunction/QueryFunction" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IQueryFunction" contract="QueryFunction.IQueryFunction" name="BasicHttpBinding_IQueryFunction" />
      <endpoint address="http://localhost:3051/Proxy/LicProxy.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ILicProxySvc" contract="LicProxySvc.ILicProxySvc" name="BasicHttpBinding_ILicProxySvc" />
      <endpoint address="http://192.168.1.110:8732/LASA_CallCenter_Interface_Ws/CustomerOrder/CustomerOrder" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICustomerOrder" contract="CustomerOrder.ICustomerOrder" name="BasicHttpBinding_ICustomerOrder" />
      <endpoint address="http://localhost:4209/Sync/SyncFranchise.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISyncFranchise" contract="SyncFranchiseSvc.ISyncFranchise" name="BasicHttpBinding_ISyncFranchise" />
      <endpoint address="http://localhost:2898/Sync/SyncServer.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISyncServerSvc" contract="SyncServerSvc.ISyncServerSvc" name="BasicHttpBinding_ISyncServerSvc" />
    </client>
  </system.serviceModel>
</configuration>