
<div class="wrapper wrapper-content  animated fadeInRight" id="angJsjqGridId" ng-controller="modalDlgController">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>Pedidos en curso del Call Center</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="jqGrid_wrapper">
                        <table id="GridId"></table>
                        <div id="GridPager"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="blocker" ng-show="working">
        <div>
            Procesando...<img src="~/Content/img/ajax_loader.gif" alt="" />
        </div>
    </div>
</div>

@section css{
    <link href="~/Content/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/Content/jquery-ui.theme.min.css" rel="stylesheet" />
    <link href="~/Content/ui-bootstrap-csp.css" rel="stylesheet" />
    <link href="~/Content/plugins/jqGrid/ui.jqgrid.css" rel="stylesheet" />
}

@section scripts{
    <script src="~/Scripts/jquery-ui.min.js"></script>
    <script src="~/Scripts/js/plugins/jqGrid/i18n/grid.locale-es.js"></script>
    <script src="~/Scripts/js/plugins/jqGrid/jquery.jqGrid.min.js"></script>
    <script src="~/Scripts/app/shared/upsertCtrl.js"></script>
    <script src="~/Scripts/app/shared/modalDlgCtrl.js"></script>
    <script src="~/Scripts/app/shared/hiddenDrct.js"></script>
    <script src="~/Scripts/app/ctrl/orderViewCtrl.js"></script>

    <script src="~/Scripts/angular-ui/ui-bootstrap.min.js"></script>
    <script src="~/Scripts/angular-ui/ui-bootstrap-tpls.min.js"></script>
    <script src="~/Scripts/js/jquery-ui-1.10.4.min.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDQTpXj82d8UpCi97wzo_nKXL7nYrd4G70"></script>
    <script src="~/Scripts/js/maps.js"></script>


    <script type="text/javascript" language="javascript">
        $(document).ready(function () {

            window.info = function (id) {
                window.showUpsert(id, "#angJsjqGridId", "@Url.Action("View", "Order", new {area = "Info"})", "#GridId");
            };

            jQuery("#GridId").jqGrid({
                url: '@Url.Action("List", "Order", new { area = "Info" })',
                datatype: "json",
                mtype: 'POST',
                colNames: ['# Orden', 'Franquicia', 'Sucursal', 'Fecha - Hora', 'Estatus', 'Teléfono', 'Nombre', 'Dirección', 'Total', 'Usuario', 'Acci&oacute;n'],
                colModel: [
                    { name: 'OrderToStoreId', index: 'OrderToStoreId', width: 40, align: "center", search: false },
                    { name: 'FranchiseName', index: 'FranchiseName', width: 80, align: "center", sorttype: 'string', search: false },
                    { name: 'FranchiseStoreName', index: 'FranchiseStoreName', width: 90, align: "center", sorttype: 'string', search: false },
                    { name: 'StartDatetimeTx', index: 'StartDatetimeTx', width: 160, align: "center", sorttype: 'string', search: false },
                    { name: 'LastStatus', index: 'LastStatus', width: 60, align: "center", sorttype: 'string', search: false },
                    { name: 'Phone', index: 'Phone', width: 80, align: "center", sorttype: 'string', search: false },
                    { name: 'FullName', index: 'FullName', width: 130, align: "center", sorttype: 'string', search: false },
                    { name: 'Address', index: 'Address', width: 300, align: "center", sorttype: 'string', search: false },
                    { name: 'TotalTx', index: 'TotalTx', width: 70, align: "center", sorttype: 'string', search: false },
                    { name: 'UserName', index: 'UserName', width: 60, align: "center", sorttype: 'string', sortable: false, search: false },
                    { name: 'Action', width: 40, align: "center", sortable: false, search: false, formatter: window.actionFormatter }
                ],
                rowNum: 10,
                rowList: [10, 30, 60],
                pager: '#GridPager',
                sortname: 'OrderToStoreId',
                height: 450,
                viewrecords: true,
                autowidth: true,
                shrinkToFit: true,
                sortorder: "desc",
                caption: "",
                add: false,
                edit: false,
                altRows: true,
                hidegrid: false,
                gridComplete: function () {
                    var ids = $(this).jqGrid('getDataIDs');
                    for (var i = 0; i < ids.length; i++) {
                        var cl = ids[i];
                        var be = "";

                        be += "<a href=\"javascript:;\" style=\"display:inline-block;\" title=\"Información completa del pedido\" onclick=\"window.info('" + cl + "');\"><i class=\"fa fa-eye icon-grid-st blue-light\"></i></a>&nbsp;&nbsp;";

                        $(this).jqGrid('setRowData', ids[i], { Action: be });
                    }
                }
            });

            jQuery("#GridId").jqGrid('navGrid', '#GridPager', {
                edit: false,
                add: false,
                refresh: true,
                del: false,
                search: false
            });

            jQuery("#GridId").jqGrid('filterToolbar', {
                stringResult: true,
                searchOperators: true,
                searchOnEnter: true,
                multipleSearch: true,
                ignoreCase: true
            });

            $(window).bind('resize', function () {
                var width = $('.jqGrid_wrapper').width();
                $('#GridId').setGridWidth(width);
            });
        });
    </script>
}


