@{
    ViewBag.Title = "Configuración de las tiendas";
    ViewBag.Menu = 4002;
}


<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Administración de Tiendas</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Index", "Home")">Inicio</a>
            </li>
            <li>
                Tiendas
            </li>
            <li>
                Configuración
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content  animated fadeInRight" id="angJsjqGridId" ng-controller="modalDlgController">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>Tiendas del Call Center</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="jqGrid_wrapper">
                        <table id="GridId"></table>
                        <div id="GridPager"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="blocker" ng-show="working">
        <div>
            Procesando...<img src="~/Content/img/ajax_loader.gif" alt="" />
        </div>
    </div>
</div>

@section css{
    <link href="~/Content/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/Content/jquery-ui.theme.min.css" rel="stylesheet" />
    <link href="~/Content/ui-bootstrap-csp.css" rel="stylesheet" />
    <link href="~/Content/plugins/jqGrid/ui.jqgrid.css" rel="stylesheet" />
    <link href="~/Content/plugins/datapicker/datepicker3.css" rel="stylesheet" />
    <link href="~/Content/plugins/chosen/chosen.css" rel="stylesheet" />
    <link href="~/Content/plugins/iCheck/custom.css" rel="stylesheet">
}

@section scripts{
    <script src="~/Scripts/jquery-ui.min.js"></script>
    <script src="~/Scripts/js/plugins/jqGrid/i18n/grid.locale-es.js"></script>
    <script src="~/Scripts/js/plugins/jqGrid/jquery.jqGrid.min.js"></script>
    <script src="~/Scripts/app/shared/upsertCtrl.js"></script>
    <script src="~/Scripts/app/shared/modalDlgCtrl.js"></script>
    <script src="~/Scripts/app/shared/hiddenDrct.js"></script>
    <script src="~/Scripts/app/ctrl/storeCtrl.js"></script>
    <script src="~/Scripts/js/plugins/datapicker/bootstrap-datepicker.js"></script>
    <script src="~/Scripts/js/plugins/chosen/chosen.jquery.js"></script>
    <script src="~/Scripts/js/plugins/iCheck/icheck.min.js"></script>
    
    <script src="~/Scripts/angular-ui/ui-bootstrap.min.js"></script>
    <script src="~/Scripts/angular-ui/ui-bootstrap-tpls.min.js"></script>
    <script src="~/Scripts/app/svc/focusFactSvc.js"></script>
    <script src="~/Scripts/app/shared/addressCtrl.js"></script>

    <script type="text/javascript" language="javascript">
        $(document).ready(function () {

            window.upsert = function (id) {
                window.showUpsert(id, "#angJsjqGridId", "@Url.Action("Upsert", "Setting", new {area = "Store"})", "#GridId");
            };

            window.obsolete = function (id) {
                window.showObsolete(id, "#angJsjqGridId", "@Url.Action("DoObsolete", "Setting", new { area = "Store" })", "#GridId");
            };

            jQuery("#GridId").jqGrid({
                url: '@Url.Action("List", "Setting", new { area = "Store" })',
                datatype: "json",
                mtype: 'POST',
                colNames: ['ID', 'Tienda', 'Franquicia', 'Dirección', 'UrlWs', 'Gerente', 'Acci&oacute;n'],
                colModel: [
                    { name: 'FranchiseStoreId', index: 'FranchiseStoreId', hidden: true },
                    { name: 'Name', index: 'Name', width: 180, align: "center", sorttype: 'string', searchoptions: { sopt: ['bw'] } },
                    { name: 'FranchiseName', index: 'FranchiseName', width: 110, align: "center", sorttype: 'string', search: false },
                    { name: 'Address', index: 'Address', width: 200, align: "center", sorttype: 'string', search: false },
                    { name: 'WsAddress', index: 'WsAddress', width: 200, align: "center", sorttype: 'string', search: false },
                    { name: 'ManagerUser', index: 'ManagerUser', width: 90, align: "center", sorttype: 'string', search: false },
                    { name: 'Action', width: 100, align: "center", sortable: false, search: false, formatter: window.actionFormatter }
                ],
                rowNum: 10,
                rowList: [10, 30, 60],
                pager: '#GridPager',
                sortname: 'FranchiseStoreId',
                height: 450,
                viewrecords: true,
                autowidth: true,
                shrinkToFit: true,
                sortorder: "desc",
                caption: "",
                add: true,
                edit: false,
                addtext: 'Agregar',
                altRows: true,
                hidegrid: false,
                gridComplete: function () {
                    var ids = $(this).jqGrid('getDataIDs');
                    for (var i = 0; i < ids.length; i++) {
                        var cl = ids[i];
                        var be = "";

                        be += "<a href=\"javascript:;\" style=\"display:inline-block;\" title=\"Editar tienda\" onclick=\"window.upsert('" + cl + "');\"><i class=\"fa fa-pencil icon-grid-st blue-light\"></i></a>&nbsp;&nbsp;";
                        be += "<a href=\"javascript:;\" style=\"display:inline-block;\" title=\"Eliminar\" onclick=\"window.obsolete('" + cl + "');\"><i class=\"fa fa-times icon-grid-st red\"></i></a>  ";

                        $(this).jqGrid('setRowData', ids[i], { Action: be });
                    }
                }
            });

            jQuery("#GridId").jqGrid('navGrid', '#GridPager', {
                edit: false,
                add: true,
                addfunc: window.upsert,
                refresh: true,
                del: false,
                search: false
            });

            jQuery("#GridId").jqGrid('filterToolbar', {
                stringResult: true,
                searchOperators: true,
                searchOnEnter: true,
                multipleSearch: true,
                ignoreCase: true
            });

            $(window).bind('resize', function () {
                var width = $('.jqGrid_wrapper').width();
                $('#GridId').setGridWidth(width);
            });
        });
    </script>
}


