[Scheme1112]
NAME=BK Brand
BUTTONCOLOR=153,204,255
BACKGROUND=BKBackground.bmp
;BACKGROUNDCOLOR=204,204,204
MSGBOXCOLOR=204,204,204
BORDERPIXELS=4
CHECKCOLOR=102,153,204
SELECTEDCHECKCOLOR=153,204,255
TRAININGCHECKCOLOR= 228,255,0
;RED=
;GREEN=0,255,0
;BLUE=0,231,236
;WHITE=
;BLACK=255,255,255
;PURPLE=
;MAROON=
;MSGBMPPREFIX=
;PRTBMPPREFIX=
;LABEL=0,102,0

RED=139,0,0
GREEN=0,128,0
BLUE=0,0,128
WHITE=255,255,255
BLACK=255,255,255
PURPLE=139,0,139
MAROON=0,0,128
LABEL=0,0,0
ARROWBMPPREFIX=bkarrows


[Scheme29]
NAME=Wendys
BUTTONCOLOR=245,245,245
BACKGROUND=BKBackground.bmp
BACKGROUNDCOLOR=245,245,245
MSGBOXCOLOR=192,192,192
BORDERPIXELS=1
CHECKBACKGROUND=
CHECKCOLOR=255,255,255
SELECTEDCHECKCOLOR=192,192,192
TRAININGCHECKCOLOR=102,255,153
LABEL=0,0,0
RED=255,0,0
GREEN=0,255,0
BLUE=0,0,255
WHITE=255,255,255
BLACK=0,0,0
PURPLE=255,0,255
MAROON=128,0,0
MSGBMPPREFIX=Msg
PRTBMPPREFIX=MsgPrt
ARROWBMPPREFIX=Arrow




