/*body {
    padding-top: 50px;
    padding-bottom: 20px;
}*/

/* Set padding to keep content from hitting the edges */
/*.body-content {
    padding-left: 15px;
    padding-right: 15px;
}*/

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 800px;
}

div.blocker {
    position: fixed;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
    -ms-opacity: .5;
    opacity: .5;
    background-color: #000;
    z-index: 1000;
    overflow: auto;
}

    div.blocker div {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 5em;
        height: 2em;
        margin: -1em 0 0 -2.5em;
        color: #fff;
        font-weight: bold;
    }

    div.blocker img {
        position: relative;
        top: -55px;
        left: 15%;
    }

.fix-control {
    margin-left: 9px;
}

.element-center {
    text-align: center !important;
}

.error {
    color: red;
    font-size: 11px;
}

.icon-grid-st {
    font-size: 17px;
}

.darkorchid {
    color: darkorchid;
}

.greenyellow {
    color: greenyellow;
}

.orange {
    color: orange;
}

.yellowgreen {
    color: yellowgreen;
}

.yellow {
    color: yellow;
}

.red {
    color: red;
}

.blue-light {
    color: #00a7ff;
}

.black {
    color: #000;
}

.orange-bg {
    background-color: orange;
}

.yellowgreen-bg {
    background-color: yellowgreen;
}

.red-bg {
    background-color: red;
}

.blue-light-bg {
    background-color: #00a7ff;
}

.normal-cursor {
    cursor: default;
}

.zip-code {
    -moz-min-width: 170px;
    -ms-min-width: 170px;
    -o-min-width: 170px;
    -webkit-min-width: 170px;
    min-width: 170px;
    max-width: 280px;
}

.position-relative {
    position: relative;
}

.full button span {
    background-color: limegreen;
    -ms-border-radius: 32px;
    border-radius: 32px;
    color: black;
}

.partially button span {
    background-color: orange;
    -ms-border-radius: 32px;
    border-radius: 32px;
    color: black;
}

.fileinput-button {
    position: relative;
    overflow: hidden;
}

    .fileinput-button input {
        position: absolute;
        top: 0;
        right: 0;
        margin: 0;
        -ms-opacity: 0;
        opacity: 0;
        -ms-filter: 'alpha(opacity=0)';
        font-size: 200px;
        direction: ltr;
        cursor: pointer;
    }

.r-highlight {
    background-color: #f0e68c;
}

.r-normal {
    background-color: white;
}

.space-5 {
  margin: 5px 0;
}

.center-size-150 {
    text-align: center;
    width: 150px;
}