@model CentralManagement.Models.ResetPasswordViewModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Call Center | Recuperar contraseña</title>

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/animate.css" rel="stylesheet">
    <link href="~/Content/style.css" rel="stylesheet">
    <link href="~/Content/Site.css" rel="stylesheet">

</head>
<body class="gray-bg" ng-app="licenseDr" ng-cloak ng-controller="resetController">
    <div class="blocker" ng-show="working">
        <div>
            Procesando...<img src="~/Content/img/ajax_loader.gif" />
        </div>
    </div>
    <div class="middle-box text-center loginscreen  animated fadeInDown">
        <div>
            <div>
                <h1 class="logo-name">LC</h1>
            </div>
            <h3>Licensing Call Center</h3>
            <p>Recuperar contraseña</p>
            <form id="recoveryForm" name="recoveryForm" class="m-t" role="form">
                @Html.AntiForgeryToken()
                @Html.HiddenFor(model => model.Code)
                <fieldset>
                    <div class="form-group">
                        <input type="text" id="Email" name="Email" ng-model="m.email" class="form-control fix-control" placeholder="Correo electrónico" />
                    </div>
                    <div class="form-group">
                        <input type="password" id="Password" name="Password" ng-model="m.password" class="form-control fix-control" placeholder="Contraseña" />
                    </div>
                    <div class="form-group">
                        <input type="password" id="ConfirmPassword" name="ConfirmPassword" ng-model="m.confirm" class="form-control fix-control" placeholder="Confirmar contraseña" />
                    </div>
                    <br />
                    <div ng-show="m.email && m.password && m.password === m.confirm">
                        <button ng-click="recovery('#recoveryForm', '@Url.Action("ResetPassword", "Account")')" class="btn btn-primary block full-width m-b">Recuperar</button>
                    </div>
                    <br />
                    <br />
                    <div class="alert alert-danger" ng-show="msgErr">
                        {{msgErr}}
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/app/main/licenseDr.js"></script>
    <script src="~/Scripts/app/ctrl/resetCtrl.js"></script>
</body>
</html>

